body {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 30px;
}

table.tg {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 40px;

}

thead th {
  background-color: #b30000;
  border-color: #b30000 !important;
  color: white;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  color: #ff1a1a;
  text-align: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto 25px;
  max-width: 910px;
  margin-top: 40px;

}